@import "../../assets/scss/mixins";

#main-page-wrapper {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px 10px;
  min-height: 300px;

  .sub-action {
    display: flex;

    div {
      padding: 5px;
      width: 100px;
      flex-shrink: 0;
    }

    div + div {
      margin-left: 2px;
    }
  }

  .top-heroes-body {

  }
}
