#main-page-wrapper
  .sub-action
    .btn.dashboard Dashboard
    .btn.heroes Heroes

  hr
  .top-heroes-body
    h6.title Top Heroes
    .container
      .row
        .col
          .hero-block
            span Narco
        .col
          .hero-block
            span Bombasto
        .col
          .hero-block
            span Celeritas
        .col
          .hero-block
            span Magneta
