.hero-profile(*ngIf="hero")
  .title {{ hero.name | uppercase }} details!
  .content
    form(#f="ngForm", (submit)="onFormSubmitted(f)")
      .form-group.row
        label.col-sm-2.col-form-label(for='id') Id
        .col-sm-10
          input#id.form-control-plaintext(type='text', readonly='', value='{{ hero.id }}')
      .form-group.row
        label.col-sm-2.col-form-label(for='name') Name
        .col-sm-10
          input#name.form-control(type='text', [(ngModel)]="hero.name", name="name")
    .btn(routerLink="/main-page") Back
