.hero-profile
  .title Magneta details!
  .content
    form
      .form-group.row
        label.col-sm-2.col-form-label(for='id') Id
        .col-sm-10
          input#id.form-control-plaintext(type='text', readonly='', value='15')
      .form-group.row
        label.col-sm-2.col-form-label(for='name') Password
        .col-sm-10
          input#name.form-control(type='text')

    .btn Back
