@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.hero-list {
  .title {
    text-align: center;
    font-weight: bold;
  }

  .hero-details {
    @include shadow-box;
    cursor: pointer;
    display: flex;

    .id {
      width: 10%;
      text-align: center;
      color: white;
      border-radius: 4px 0 0 4px;
      background-color: $background-color;
    }

    .name {
      padding-left: 50px;
      opacity: 0.7;
      width: 90%;
    }

    .btn {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:hover {
      .name {
        opacity: 1;
        background-color: white;
      }
    }
  }

  .hero-details + .hero-details {
    margin-top: 3px;
  }
}
