.hero-list
  h6.title Top Heroes
  .container
    .row
      .col
        .hero-block
          span Narco
      .col
        .hero-block
          span Bombasto
      .col
        .hero-block
          span Celeritas
      .col
        .hero-block
          span Magneta
