.hero-list(*ngIf="heroes")
  .title My Heroes
  .content-list
    .hero-details(*ngFor="let hero of heroes")
      .id {{ hero.id }}
      .name(routerLink="/hero-profile/{{hero.id }}") {{ hero.name }}
      .btn.delete Delete
