#register-profile-form
  form([formGroup]="profileForm", (ngSubmit)="onSubmit()" novalidate)
    .form-row
      .form-group
        label(for='fullName') Full-name
        input#fullName.form-control(type='text', placeholder="Full name", formControlName="name")
    .form-group
      label(for='age') Age
        select#age.form-control(formControlName="age")
          option(*ngFor="let myAge of rangeAges", [value]="myAge") {{ myAge }}
    .form-group
      label(for='hobbies') Favorite
        select#hobbies.form-control(formControlName="hobbie")
          option(*ngFor="let myHobbie of hobbies", [value]="myHobbie") {{ myHobbie }}
    .form-group
      .form-check
        input#sex.form-check-input(type='checkbox', formControlName="sex")
        label.form-check-label(for='sex')
          | Check me out if not male

    button.btn.btn-primary(type='submit') Register
